body {
    margin: 5px;
    padding: 0;
    overflow-x: hidden;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .container{
    margin: 0 ;
    width: 100%;
  
  }
    .marker {
      background-image: url('placeholder.png');
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
    .mapboxgl-popup {
     max-width: 700px;
     max-height: 500px
      }

      .mapboxgl-popup-content {
       text-align: center;
       font-family: 'Open Sans', sans-serif;
    }
/* Local declaration */ 


header{
  margin: 2px;
  width: 100%;
  height: 10%;
}
header .container #logo{
  width: 15%;//
  margin-left: 2%;
  

}
#vector{
  width: 48%;//
  height: 30%;
}
#front-side #vector{
  margin: 300px 100px 0 20px;//
  
}
#front-side .container{
  background-color: white; 
  height: 3000px;
  width: 100%;
  display: flex;
}
#boxes{
  margin-left: 30%;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 5%;
  column-rule-style: solid ;
  column-rule-color: #ff0000;
  column-count:4 ;
  column-gap: 5px;
  display: inline;
  float: left;
}
#boxes .box{
  background-color: white;
}
#front-side .container .semi-circle{
  background-color: #ff0000;
 
  width: 100%;
  height: 80%;
  border-radius: 0 0 1500px 1500px;
}

/*webview*/

@media screen and (min-width: 1400px){
 

  #front-side .container .semi-circle{
    background-color: white;
   
    width: 100%;
    height: 50%;
    border-radius: 0 0 1200px 1200px;
  }
  header{
    margin: 10px;
    width: 100%;
    height: 10%;
  }
  header .container #logo{
    width: 20%;
    margin-left: 5%;
    float: left;
  
  }
 
}