body {
    margin: 0px;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
    .marker {
      background-image: url('placeholder.png');
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
    .mapboxgl-popup {
     max-width: 700px;
     max-height: 500px
      }

      .mapboxgl-popup-content {
       text-align: center;
       font-family: 'Open Sans', sans-serif;
    }