.navbar{
    height: 60px;
}

.nav-link{
    padding-left: 50px;
    padding-right: 50px;
    color: black;
}

.nav-link:hover{
    color: red;
}


.card{
 
    height: 25%;
    width: 50%;
    position: absolute;
    top: 60%;
    left: 25%;
}

.row{
    margin-top: 3%;
}
.col{
    height: 110px;
    align-self: stretch;
    
}

.col-blue{
    color: lightblue;

}

.right{
    border-right: 2px solid red;
}

.covidcounter{
    margin-top: 20px;
    font-size: 1.8em;
    font-style: bold;
}
.myBox{
        
        display: inline-block;
        position: absolute;
       width: 100%;
        height: 35%;
        background-color: red;
        left: 0%;
        border-radius: -10% -100% 0% 0%;
       
        bottom: 0%;
      
}
/* picked this code from internet */
.myBox:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 85%;
    background-color: white;
    
    left: 0;
    top:-50%;
   
  
  } 

/* Mobile Screen */

@media only screen and (max-width:600px)
{
    .navbar{
        height: 60px;
        width: 100%;
    }
    .nav{
        width: 100%;
    }
    .nav-link{
        padding-left: 50px;
        padding-right: 50px;
        color: black;
    }
    
    .nav-link:hover{
        color: red;
    }
    
    body section{
        margin-top: 20%;
    }
    .main-body img{
        width: 80%;
        height: 15%;
    }
    .card{
        margin-top: 2%;
        height: 25%;
        width: 50%;
        position: absolute;
        top: 60%;
        left: 25%;
        background-color:white;
    }
    .card-body{
        background-color: white;
    }
    .row{
        margin-top: 3%;
    }
    .col{
        height: 110px;
        align-self: stretch;
        
    }
    
    .col-blue{
        color: lightblue;
    
    }
    
    .right{
        border-right: 0px solid red;
    }
    
    .covidcounter{
        margin-top: 20px;
        font-size: 1.8em;
        font-style: bold;
    }
    .myBox{
            
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 35%;
            background-color: red;
            left: 0%;
            border-radius: -10% -100% 0% 0%;
           
            bottom: 0%;
          
    }
    /* picked this code from internet */
    .myBox:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 85%;
        background-color: white;
        
        left: 0;
        top:-50%;
       
      
      } 
      .blankspace{
          margin-top: 30%;
          height: 500px;
          background-color: #ff0000;
      }
    
}